@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
	color: white;
}

.whiteText{
	text-decoration: none;
	color: white;
}

.btnContainer{
    width: 500px;
    height: 70px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnContainer .btn-secondary{
    width: 110px;
}

.container{
    clear: both;
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    padding-top: 100px;
}

.main{
    width: 950px;
    height: 400px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}
.sub01Container{
    width: 950px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}
.sub02Container{
    width: 950px;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
}
.article1,
.article2,
.article3{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.article1{
    border-right: 1px solid black;
}
.article3{
    border-left: 1px solid black;
}
h3{
    font-weight: bold;
}
p{
    margin-top: 50px;
    margin-bottom: 50px;
}

#signInBtn{
    margin-top: -60px;
    margin-bottom: 20px;
}
.chatZone{
    width: 900px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: 10px;
}
.inputCont{
    width: 900px;
    margin: auto;
}
#noticeInput{
    height: 280px;
}
a #writeBtn{
    margin-top: 10px;
    float: right;
    cursor: pointer;
}
table{
    margin-top: 10px;
}
tbody tr th{
    font-weight: 400;
}
tr th a{
    color: black;
    text-decoration: none;
}
.mypage{
    width: 500px;
    height: 500px;
    position: fixed;
    top: 20%;
    left: 75%;
}
.mypageModal{
    width: 70px;
    height: 70px;
    background-color: gray;
    border-radius: 50%;
    margin-top: 90%;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.mypageModal i{
    font-size: 40px;
    color: black;
}
.mypageContent{
    width: 250px;
    height: 350px;
    background-color: lightgray;
    box-sizing: border-box;
    padding: 20px 5px 20px 5px;
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 98;
    display: none;
    border-radius: 5px;
}
#accountSave{
    margin-left: 1px;
}
#btnLogin{
    width: 240px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
}
#signinBtn{
    width: 240px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
}

#noticeWriter{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
#noticeDate{
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

#noticeContent{
    width: 930px;
    height: 300px;
    overflow-y: scroll;
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}