@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
.container{
    clear: both;
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    padding-top: 100px;
}

.main{
    width: 950px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.row{
    margin-top: 5px;
}
#loginBtn{
    width: 200px;
    margin-left: 15px;
}