<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.app.infra.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.mycompany.app.infra.code.Code"></resultMap>
    
    
    <sql id="abc">
	    seq
	    , name
	    , delNy
    </sql>
    
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT 
    		seq
	    	, name
	    	, delNy
	    	, codeGroup_seq
    	FROM 
    		code
    	WHERE 1=1
    		<if test="shKeyword != null and !shKeyword.equals('')">AND name LIKE CONCAT('%', #{shKeyword}, '%')</if> 
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
	    SELECT
	    	seq
	    	, name
	    	, delNy
	    	, codeGroup_seq
	    FROM
	    	code
	    WHERE
	    	seq = #{seq}
    </select>
    
    <update id="update">
    	UPDATE codeGroup
    	
    	SET 
    		name = #{name}
    	WHERE
    		seq = #{seq}
    </update>
    
    <insert id="insert">
    	INSERT INTO `code`(
    		name
			, delNy
			, codeGroup_seq
		) VALUES (
			#{name}
			, 1
			, #{codeGroup_seq}
		)
    </insert>
    
    <delete id="delete">
    	UPDATE codeGroup
    	
    	SET 
    		delNy = 0
    	WHERE
    		seq = #{seq}
    		AND name = #{name}
    </delete>

</mapper>    